// Colors
$text-black-color:#333333;
$text-light-brown-color:#888888;
$color-white:#FFFFFF;
$search-color:#909090;
$notification-black:
#555555;
$divider-color:#CCCCCC;
// Fonts Family
$font-family-basics-style:'IBM Plex Sans', sans-serif;