$font-stack: 'IBM Plex Sans', sans-serif;
$font-initial-weight:500;
$font-initial-style:normal;
body {
    margin: 0;
    font-family:$font-stack;
    font-style:$font-initial-style;
    font-weight: $font-initial-weight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:14px;
  }

@media (min-width: 800px) {
    body{
        font-size:14px;
    }
}
@media (min-width: 1200px) {
    body{
        font-size:16px;
    }
}
