.layout-wrapper{
    .container{
        display: flex;
        flex: 1;
     }
    .side-bar{
        background: #FFFFFF;
        width: 330px;
        height: 100vh;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 16px;
        padding-bottom: 145px;
        display: flex;
        flex-direction: column;
        //align-items: center;
        // justify-content: center;  #FFFFFF;
     }
    
    .main-container{
        flex: 1;
      
    } 
}
